<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" th:rel="stylesheet">
    <link href="../static/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}"
          th:rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
</head>
<body id="page-top">
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
            <div class="sidebar-brand-icon">
                <img class="img-profile" style="width: 100%; height: auto;"
                     th:src="@{/images/Logo_Mines_Saint-Étienne.svg}"
                     src="../static/images/Logo_Mines_Saint-Étienne.svg">
            </div>
            <div class="sidebar-brand-text mx-3 bg">EMSE</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Main Menu</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Storage Lift
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Entries</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="buttons.html">Buttons</a>
                    <a class="collapse-item" href="cards.html">Cards</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Data</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <nav class="navbar navbar-light">
                    <span class="navbar-brand mb-0 h1">Storage Lift</span>
                </nav>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>


                    <div class="topbar-divider d-none d-sm-block"></div>


                </ul>

            </nav>
            <!-- End of Topbar -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Actions</h6>
                            </div>
                            <div class="btn-group-lg btn-group-vertical">
                                <div class="card-body">
                                    <div class="my-2"></div>
                                    <a href="#" class="btn btn-success btn-block text-left btn-lg">
                                        <span class="icon text-white-50 bs-popover-left">
                                            <i class="fas fa-play"></i>
                                        </span>
                                        <span class="text">START</span>
                                    </a>

                                    <div class="my-2"></div>

                                    <a href="#" class="btn  btn-danger btn-block text-left btn-lg">
                                        <span class="icon text-white-50 bs-popover-left">
                                            <i class="fas fa-stop"></i>
                                        </span>
                                        <span class="text">STOP</span>
                                    </a>

                                    <div class="my-2"></div>
                                    <a href="#" class="btn btn-warning btn-block text-left btn-lg">
                                        <span class="icon text-white-50 bs-popover-left">
                                            <i class="fas fa-circle"></i>
                                        </span>
                                        <span class="text">Initialisation</span>
                                    </a>

                                    <div class="my-2"></div>
                                    <a th:href="@{{id}/manuel(id=${id})}" class="btn btn-info btn-block text-left btn-lg">
                                        <span class="icon text-white-50 bs-popover-left">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                        <span class="text">Manual Mode</span>
                                    </a>
                                    <div class="my-2"></div>
                                    <a href="#" class="btn btn-secondary btn-block text-left btn-lg">
                                        <span class="icon text-white-50 bs-popover-left">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                        <span class="text">Open doors</span>
                                    </a>
                                    <div class="my-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Informations</h6>
                            </div>
                            <div class="card-body">

                                <div class="card mb-4">
                                    <div class="px-3 py-3 text-white" id="machine_state">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Notifications</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">

        function getImportance(importance) {
            let str = '';
            switch (importance) {
                case 'EMERGENCY_STOP':
                    str = 'bg-gradient-danger';
                    break;
                case 'IN_PRODUCTION':
                    str = 'bg-gradient-success';
                    break;
                case 'PAUSED':
                    str = 'bg-gradient-warning';
                    break;
                case 'PRODUCT_MANAGEMENT_ERROR':
                    str = 'bg-gradient-info';
                    break;
            }
            return str;
        }

        let machineId = /*[[${id}]]*/ -10000;
        let machine;
        let machineStatus;
        /*<![CDATA[*/
        setInterval(function () {
            let httpRequest;
            let httpRequest2;

            httpRequest = new XMLHttpRequest();
            httpRequest2 = new XMLHttpRequest();

            function secondRequest(machine) {
                httpRequest2.onload = function () {
                    if (httpRequest2.status === 200) {
                        machineStatus = JSON.parse(httpRequest2.responseText);
                        let machineHTML = document.getElementById("machine_state");
                        machineHTML.setAttribute("class", "px-3 py-3 text-white " + getImportance(machineStatus.importance));
                        machineHTML.innerHTML = machineStatus.name;
                    } else {
                        alert('Il y a eu un problème avec la requête.');
                    }
                }
                httpRequest2.open('GET', '/api/machineStatus/' + machine.statusId);
                httpRequest2.send();
            };

            function firstRequest() {
                if (!httpRequest) {
                    alert('Abandon :( Impossible de créer une instance de XMLHTTP');
                    return false;
                }
                httpRequest.onload = function () {
                    if (httpRequest.status === 200) {
                        machine = JSON.parse(httpRequest.responseText);
                        secondRequest(machine);
                    } else {
                        alert('Il y a eu un problème avec la requête.');
                    }
                }
                httpRequest.open('GET', '/api/machine/' + machineId);
                httpRequest.send();
            }
            firstRequest();

        }, 2000);
        /*]]>*/
        let delay = function (elem, callback) {
            let timeout = null;
            elem.onmouseover = function() {
                // Set timeout to be a timer which will invoke callback after 1s
                timeout = setTimeout(callback, 1000);
            };

            elem.onmouseout = function() {
                // Clear any timers set to timeout
                clearTimeout(timeout);
            }
        };


        delay(document.getElementById('machine_state'), function() {
            document.getElementById("machine_state").setAttribute("title", machineStatus.description);
        });
    </script>
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
            src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"
            src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
</div>
</body>
</html>
