<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Mode Manuel</title>

    <link th:href="@{/css/sb-admin-2.css}" th:rel="stylesheet" >
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" th:rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
</head>
<body>
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
            <div class="sidebar-brand-icon">
                <img class="img-profile" style="width: 100%; height: auto;"
                     th:src="@{/images/Logo_Mines_Saint-Étienne.svg}">
            </div>
            <div class="sidebar-brand-text mx-3 bg">EMSE</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Menu Principal</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading" id = "heading-machine">

        </div>

        <!-- Nav Item - Tables -->

        <li class="nav-item">
            <a class="nav-link" th:href="@{/machine/{id}(id=${id})}">
                <i class="fas fa-fw fa-address-card"></i>
                <span>Interface</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/machine/{id}/settings(id=${id})}">
                <i class="fas fa-fw fa-cog"></i>
                <span>Settings</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/machine/{id}/manuel(id=${id})}">
                <i class="fas fa-fw fa-hand-paper"></i>
                <span>ManualMode</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="center">
                    <div class="input-group mb-3">
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="col align-self-start">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <div class="row">
                                <div class="col order-first">
                                    <h4 class="m-0 font-weight-bold text-primary">Test du Convoyeur</h4>
                                </div>
                                <div class="col order-last">
                                    <a class="btn btn-primary btn-block text-left btn-lg ">
                                    <span class="icon text-white-50 bs-popover-left mr-auto">
                                        <i class="fas fa-play "></i>
                                        <span>Marche/Arrêt</span>
                                    </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 order-last" >
                                    <div class="card mb-4">
                                        <div class="px-3 py-3 text-muted">
                                            <h6 class=" text-muted">Vitesse actuelle</h6>
                                            <h6 class=" text-muted">Nouvelle vitesse</h6>
                                            <a class="btn btn-secondary btn-block text-left btn-lg ">
                                                <span class="icon text-white-50 bs-popover-left mr-auto">
                                                    <i class="fas fa-play "></i>
                                                <span>Valider</span>
                                                 </span>
                                            </a>
                                        </div>
                                    </div>
                                </div> <!--est ce que ce serait une bonne idée de mettre des images ? genre les mêmes images que sur l'interface pour chaque test-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="col align-self-start">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <div class="row">
                                <div class="col order-first">
                                    <h4 class="m-0 font-weight-bold text-primary">Test de la ventouse</h4>
                                </div>
                                <div class="col order-last">
                                    <a class="btn btn-primary btn-block text-left btn-lg ">
                                    <span class="icon text-white-50 bs-popover-left mr-auto">
                                        <i class="fas fa-play "></i>
                                        <span>Activer</span>
                                    </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="col align-self-start">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <div class="row">
                                <div class="col order-first">
                                    <h4 class="m-0 font-weight-bold text-primary">Test du vérin</h4>
                                </div>
                                <div class="col order-last">
                                    <a class="btn btn-primary btn-block text-left btn-lg ">
                                    <span class="icon text-white-50 bs-popover-left mr-auto">
                                        <i class="fas fa-play "></i>
                                        <span>Activer</span>
                                    </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
            src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"
            src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
</div>
</body>
</html>